# Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'1.13.1'

# Part 1 - Data Preprocessing

## Importing the dataset

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [7]:
X[:5]

array([[619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 'Female', 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 'Female', 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 'Female', 43, 2, 125510.82, 1, 1, 1, 79084.1]],
      dtype=object)

In [8]:
y[:5]

array([1, 0, 1, 0, 0], dtype=int64)

## Encoding categorical data
### Label Encoding the "Gender" column

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X[:5])

[[619 'France' 0 42 2 0.0 1 1 1 101348.88]
 [608 'Spain' 0 41 1 83807.86 1 0 1 112542.58]
 [502 'France' 0 42 8 159660.8 3 1 0 113931.57]
 [699 'France' 0 39 1 0.0 2 0 0 93826.63]
 [850 'Spain' 0 43 2 125510.82 1 1 1 79084.1]]

### One Hot Encoding the "Geography" column

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X[:5])

[[1.0 0.0 0.0 619 0 42 2 0.0 1 1 1 101348.88]
 [0.0 0.0 1.0 608 0 41 1 83807.86 1 0 1 112542.58]
 [1.0 0.0 0.0 502 0 42 8 159660.8 3 1 0 113931.57]
 [1.0 0.0 0.0 699 0 39 1 0.0 2 0 0 93826.63]
 [0.0 0.0 1.0 850 0 43 2 125510.82 1 1 1 79084.1]]

## Splitting the dataset into the Training set and Test set

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Feature Scaling

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

d:\python\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
d:\python\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
d:\python\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

# Part 2 - Building the ANN

## Initializing the ANN

In [31]:
model = tf.keras.models.Sequential()

## Adding the input layer and the first hidden layer

In [32]:
model.add(tf.keras.layers.Dense(units=6, activation='relu'))

## Adding the second hidden layer

In [33]:
model.add(tf.keras.layers.Dense(units=12, activation='relu'))

## Adding the third hidden layer

In [34]:
model.add(tf.keras.layers.Dense(units=6, activation='relu'))

## Adding the output layer

In [35]:
model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Part 3 - Training the ANN

## Compiling the ANN

In [36]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

## Training the ANN on the Training set

In [37]:
model.fit(X_train, y_train, batch_size = 32, epochs = 30)

Epoch 1/30
8000/8000 [==============================] - 2s 234us/sample - loss: 0.5269 - acc: 0.7960
Epoch 2/30
8000/8000 [==============================] - ETA: 0s - loss: 0.4717 - acc: 0.795 - 1s 135us/sample - loss: 0.4705 - acc: 0.7960
Epoch 3/30
8000/8000 [==============================] - 1s 132us/sample - loss: 0.4429 - acc: 0.7960
Epoch 4/30
8000/8000 [==============================] - 1s 133us/sample - loss: 0.4211 - acc: 0.7984
Epoch 5/30
8000/8000 [==============================] - 1s 135us/sample - loss: 0.4016 - acc: 0.8062
Epoch 6/30
8000/8000 [==============================] - 1s 135us/sample - loss: 0.3853 - acc: 0.8133
Epoch 7/30
8000/8000 [==============================] - 1s 135us/sample - loss: 0.3749 - acc: 0.8304
Epoch 8/30
8000/8000 [==============================] - 1s 138us/sample - loss: 0.3688 - acc: 0.8421
Epoch 9/30
8000/8000 [==============================] - 1s 134us/sample - loss: 0.3649 - acc: 0.8439
Epoch 10/30
8000/8000 [==============================] - 1s 136us/sample - loss: 0.3620 - acc: 0.8445
Epoch 11/30
8000/8000 [==============================] - 1s 137us/sample - loss: 0.3599 - acc: 0.8479
Epoch 12/30
8000/8000 [==============================] - 1s 138us/sample - loss: 0.3581 - acc: 0.8499
Epoch 13/30
8000/8000 [==============================] - 1s 136us/sample - loss: 0.3555 - acc: 0.8490
Epoch 14/30
8000/8000 [==============================] - 1s 145us/sample - loss: 0.3536 - acc: 0.8508
Epoch 15/30
8000/8000 [==============================] - ETA: 0s - loss: 0.3534 - acc: 0.853 - 1s 136us/sample - loss: 0.3517 - acc: 0.8543
Epoch 16/30
8000/8000 [==============================] - 1s 137us/sample - loss: 0.3499 - acc: 0.8541
Epoch 17/30
8000/8000 [==============================] - 1s 136us/sample - loss: 0.3486 - acc: 0.8565
Epoch 18/30
8000/8000 [==============================] - 1s 138us/sample - loss: 0.3477 - acc: 0.8579
Epoch 19/30
8000/8000 [==============================] - 1s 135us/sample - loss: 0.3464 - acc: 0.8570
Epoch 20/30
8000/8000 [==============================] - 1s 137us/sample - loss: 0.3450 - acc: 0.8566
Epoch 21/30
8000/8000 [==============================] - 1s 141us/sample - loss: 0.3436 - acc: 0.8586
Epoch 22/30
8000/8000 [==============================] - 1s 141us/sample - loss: 0.3429 - acc: 0.8593
Epoch 23/30
8000/8000 [==============================] - 1s 138us/sample - loss: 0.3413 - acc: 0.8614
Epoch 24/30
8000/8000 [==============================] - 1s 134us/sample - loss: 0.3415 - acc: 0.8579
Epoch 25/30
8000/8000 [==============================] - 1s 138us/sample - loss: 0.3410 - acc: 0.8602
Epoch 26/30
8000/8000 [==============================] - 1s 140us/sample - loss: 0.3404 - acc: 0.8593
Epoch 27/30
8000/8000 [==============================] - 1s 137us/sample - loss: 0.3394 - acc: 0.8601
Epoch 28/30
8000/8000 [==============================] - 1s 138us/sample - loss: 0.3391 - acc: 0.8591
Epoch 29/30
8000/8000 [==============================] - 1s 139us/sample - loss: 0.3387 - acc: 0.8596
Epoch 30/30
8000/8000 [==============================] - 1s 145us/sample - loss: 0.3386 - acc: 0.8609

# Part 4 - Making the predictions and evaluating the model

## Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

**Solution**

In [38]:
print(model.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

## Predicting the Test set results

In [39]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

## Making the Confusion Matrix

In [40]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1508   87]
 [ 199  206]]

0.857